.card {
    height:200px;
    width: 400px;
    border-radius: 50px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: url(amazon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
