/* MANAGEMENT: admin */
.content-container {
    padding: 6em;
}

.image-container {
    width: var(--image-container-size);
    height: var(--image-container-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.search-bar {

}

.item-container {

}

.company-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1em;
}

.company-row {
    padding: 2em;
    margin-top: 1em;
    border-radius: 1em;
    background-color: var(--color7);
    display: flex;
}

.company-info td:first-child {
    text-align: right;
}

.company-info table {
    font-size: large;
    border-collapse: separate;
    border-spacing: 0.4em;
}

.company-name {
    font-weight: bold;
}

.item-image-fixed-height {
    height: var(--image-size);
    width: auto;
    max-width: 100%;
    display: block;
}

.item-image-fixed-width {
    width: var(--image-size);
    height: auto;
    max-height: 100%;
    display: block;
}

#man-pagination {
    margin-top: 1em;
    padding: 1em;
    display: inline-flex;
}

#man-pagination div {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#man-pagination a{
    font-size: x-large;
    text-decoration: none;
    color: var(--color3);
}

#man-pagination a:hover{
    text-decoration: underline;
}

#man-pagination input{
    border: none;
    width: 3em;
    padding: 0.2em;
    border-radius: 1em;
    font-family: montserrat_regular, serif;
    background-color: var(--color4);
    font-size: x-large;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

#man-pagination input:focus{
    outline: 1px solid var(--color3);
}

.svg-change-page {
    fill: var(--color3);
    transform-origin: center center;
    transform: scale(2);
}
