:root {
    --color1: #ffd901;
    --color2: #754cb4;
    --color3: #282828;
    --color4: #f7f7f7;
    --color5: #FFFFFF;
    --color6: #F7FED9;
    --color7: #bee5eb;
    --color8: #ff4500;
    --width: 800;
    --font_small: 0.95em;
    --corner_radius: 50px;
    --page_padding: 100px;
    --image-size: 160px;
    --image-container-size: 180px;
}
