.card--azienda {
    height:200px;
    width: 280px;
    border-radius: 36px;
    /*border: var(--color5) solid 7px;*/
    padding: 0 20px;
    /* Add shadows to create the "card" effect */
    display: flex;
    justify-content: center;


}

.card--image{
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
