.card--azienda {
    height:200px;
    width: 400px;
    border-radius: 50px;
    transition: all 0.1s ease-out;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
}

/* On mouse-over, add a deeper shadow */
.card--azienda:hover {
    cursor: pointer;
    transform: translateY(10px);
    transition: all 0.15s ease-out;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image--azienda{
    height:auto;
    width:auto;
}
