.coupon--categoria {
    background-color: var(--color5);
    border-radius: 15px;
    height: 360px;
    width: 280px;
    padding-bottom: 10px;
}

.container--categoria {
    position: relative;
    height: 7rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 2px 16px;
    text-align: center;
}

.image--categoria {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.promo--categoria {
    border-radius: 15px;
}

.coupon_wrapper--categoria {
    background-color: white;
}

.container_description--categoria {
    padding: 30px 30px 0 40px;
}

.button--categoria {
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    margin: auto;
}


/* MANAGEMENT: admin */
.content-container {
    padding: 6em;
}

.image-container {
    width: var(--image-container-size);
    height: var(--image-container-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.search-bar {

}

.item-container {

}

.company-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2em;
}

.company-row {
    padding: 2em;
    margin-top: 1em;
    border-radius: 1em;
    background-color: var(--color7);
    display: flex;
}

.company-info td:first-child {
    text-align: right;
}

.company-info table {
    font-size: large;
}

.company-name {
    font-weight: bold;
}

.item-image-fixed-height {
    height: var(--image-size);
    width: auto;
    max-width: 100%;
    display: block;
}

.item-image-fixed-width {
    width: var(--image-size);
    height: auto;
    max-height: 100%;
    display: block;
}


