


html * {
    font-family: 'Monserrat', sans-serif;
}

body{
    background:#555555;
    font-family: 'Monserrat', sans-serif;
}

.coupon {
    transform: translateY(100px);
    background-color: white;
    border-radius: 15px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    height: auto;
    width: 280px;
}

.container{
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 2px 16px;
    background-color: #41ad5f;
    text-align: center;
}

.promo {
    border-radius: 15px;
}

.coupon_wrapper{
    background-color: white;
}

.container_description{
    line-height: 1;
    border-radius: 15px;
    background-color: white;
    text-align: left;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}

.container_button{
    background-color: white;
    text-align: center;
    border-radius: 15px;
    height: 120px;
}

.button{
    margin: 0;                          /*centrare bottone nella div*/
    position: relative;
    top: 70%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


    display: inline-block;
    padding: 7px 35px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #555555;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.button:hover {background-color:  #555555;}

.button:active {
    background-color: #555555;;
    box-shadow: 0 5px #777676;
}



.image{
    transform: translateY(-51px);
}
