.faq-container {
    margin: 0 auto;
    padding: 5px;
    width: 50%;
}

.faq-question{
    position: relative;
    display: flex;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: 1px solid #e5e5e5;
}

.content{
    line-height: 20px;
    width: calc(100% + 32px) ;

}

.faq-question:hover,
.faq-question:hover::after {
    cursor: pointer;
    color: black ;
}
/*.accordion a:hover::after {*/
/*    border: 1px solid  black;*/
/*}*/
.faq-question.active {
    /*color:  black;*/
    border-bottom: 1px solid  var(--color1);
}
.faq-question::after {

    font-family: 'Ionicons', sans-serif;
    content: '\f218';
    position: absolute;
    transform: translateY(-3px);
    float: right;
    right: 1rem;
    font-size: 18px;
    color: #7288a2;
    padding: 4px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    /*border: 1px solid #7288a2;*/
    text-align: center;
}
.faq-question.active::after {
    font-family: 'Ionicons', sans-serif;
    content: '\f209';
    /*color: black;*/
    /*border: 1px solid black;*/
}
.accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;

    /*-webkit-transition: all 0.2s ease 0.15s;*/
    /*-o-transition: all 0.2s ease 0.15s;*/
    transition: all 0.2s ease 0.15s;
}
.accordion .content {
    font-size: 1rem;
    font-weight: 300;
}
.accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    transition: all 0.35s ease 0.15s;
}

.accordion{
    display: flex;
}

.right-container {
    align-items: center;
    display: flex;
    margin-left: 100px;
    margin-right: 2em;
}

.button-container {
    width: 50px;
    height: 50px;
    margin:  0 0.5em;
    background-color: var(--color3);
    border-radius: 50%;
}

.edit-button-container:hover {
    animation: editAnimation 0.1s;
    animation-fill-mode: forwards;
}

.delete-button-container:hover {
    animation: deleteAnimation 0.1s;
    animation-fill-mode: forwards;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-object {
    padding: 0.5em;
}

.delete-object {
    padding: 0.5em;
}

.edit-object svg{
    fill: var(--color4);
    height:30px;
    width: 30px;
    transform-origin: center center;
    cursor: pointer;
}

.delete-object svg{
    fill: var(--color4);
    height:30px;
    width: 30px;
    transform-origin: center center;
    cursor: pointer;
}

@keyframes editAnimation {
    0% { background-color: var(--color3)}
    100% { background-color: rgb(0, 0, 255, 0.7); transform: scale(1.1)}
}

@keyframes deleteAnimation {
    0% { background-color: var(--color3)}
    100% { background-color: rgb(255, 0, 0, 0.7); transform: scale(1.1)}
}
/*.faq--button_container{*/
/*    display: flex;*/
/*    !*position: relative;*!*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    border-radius: 50%;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-left: 150px;*/
/*    background-color: var(--color3);*/
/*}*/

/*.faq--button{*/
/*    border: none;*/
/*    !*background-color: var(--color4);*!*/
/*    transition: all 0.3s ease;*/
/*}*/

/*.faq--button_image{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/



/*.faq--button:hover{*/
/*    animation: editAnimation 0.1s;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*.faq--button svg{*/
/*    fill: var(--color4);*/
/*    transform-origin: center center;*/
/*}*/


