.stats--graph--container{
    width: 100%;
    height: 100%;
    display: flex;
}




.stats--graph--coupon{
    height:100%;
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 20px;
}
